html,
body {
  height: 100%;
}

html {
  font-size: 220%;
  line-height: 1.4;
  font-family:'Six Caps', sans-serif;
  color: white;
}

body {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto 2fr;
  grid-template-areas:
    'header header header'
    'get-info image image'
    'quotes image image';
  gap: 1rem;
  margin: 0;
  padding: 1rem;
  background-color: #2c2b2b;
  /* background-image: url("https://media.istockphoto.com/photos/green-smoke-texture-picture-id1077790476?k=20&m=1077790476&s=612x612&w=0&h=fJqht9zSbJqoTeV8BFDl6X7pNleGzhcpd3o8oXKxhOU="); */
  background-attachment: fixed;
  background-size: cover;
}

[data-position='header'] {
  background-color: rgba(212, 247, 108, 0.5);
  grid-area: header;
}

[data-position='get-info'] {
  background-color: rgba(212, 247, 108, 0.5);
  grid-area: get-info;
}

[data-position='image'] {
  grid-area: image;
}


[data-position='quotes'] {
  background-color: rgba(212, 247, 108, 0.5);
  grid-area: quotes;
  overflow: scroll;
}

[data-position] {
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 0 5px 0 rgba(146, 12, 183, 0.5);
}

h1,
h2 {
  margin: 0;
}

#villainImage{
  height: 70%;
}
